:root {
  /* Light theme */
  --color-bg: #ffffff;
  --color-bg-2: #ffffff;
  --color-bg-body: #ffffff;
  --color-white: #000000;
  --color-bg-nav: #f1f1f3;
  --color-half_white: rgba(0, 0, 0, 0.75);
  --color-white-50: rgba(0, 0, 0, 0.5);
  --color-bg-tbl: #f1f1f3;
  --color-bg-th: #f1f1f3;
  --color-bg-th-odd: #cacaca;
  --color-bg-th-even: #eeeeee;
  --color-bg-th-high-light: #e6e8ed;
  --color-black: #f1f1f3;
  --color-high-light-odd: #f4f5f9;
  --color-high-light-even: #e6e8ed;
  --color-cl-border: #e6e8ed;
  --color-hover-td: #e6e8ed;
  --color-bg-card-chart: #eaeaea;
  --color-bg-btn-nav: #e3e3e7;
  --color-bg-form-search: #e3e3e7;
  --color-bg-form-search-2: #e3e3e7;
  --color-red: #ff0017;
  --color-green: #007c01;
  --color-ref: #f69b0b;
  --color-ceil: #be00be;
  --color-floor: #0069c4;
  --color-bg-red: #ff0017;
  --color-bg-green: #007c01;
  --color-bg-ref: #f69b0b;
  --color-bg-ceil: #be00be;
  --color-bg-floor: #0069c4;
  --color-bg-form-theme: #cacaca;
  --color-primary: #2279ff;
  --color-blue: #2279ff;
  --color-cl-nav-link: #7d7d7d;
  --color-bg-panel-trade: #f1f1f3;
  --color-br-1: #f1f1f3;
  --color-panel-trade-asset: rgb(228 228 228 / 90%);
  --color-form-search-head: #eaeaea;
  --color-asset-account-overview: #cacaca;
  --color-bg-asset-order: #ffffff;
}

/* Classic theme */
.theme-classic {
  --color-bg: #020210;
  --color-bg-2: #020210;
  --color-bg-body: #14111d;
  --color-white: #ffffff;
  --color-bg-nav: #1c192c;
  --color-half_white: #ececec;
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-bg-tbl: #182649;
  --color-bg-th: #14101d;
  --color-bg-th-odd: #211d34;
  --color-bg-th-even: #1c192c;
  --color-bg-th-high-light: #181625;
  --color-black: #05040f;
  --color-high-light-odd: #1c1a2b;
  --color-high-light-even: #1c1a2b;
  --color-cl-border: #2c2935;
  --color-hover-td: #353045;
  --color-bg-card-chart: #020210;
  --color-bg-btn-nav: #1c192c;
  --color-bg-form-search: #1c192c;
  --color-bg-form-search-2: #000000;
  --color-red: #fd1515;
  --color-green: #30e820;
  --color-ref: #fbd82d;
  --color-ceil: #e64dff;
  --color-floor: #2ecdff;
  --color-bg-red: #c0002e;
  --color-bg-green: #3db055;
  --color-bg-ref: #d69000;
  --color-bg-ceil: #e64dff;
  --color-bg-floor: #0030cc;
  --color-primary: #2279ff;
  --color-blue: #2279ff;
  --color-bg-form-theme: #1b1912;
  --color-cl-nav-link: #ececec;
  --color-bg-panel-trade: #14111d;
  --color-br-1: #232532;
  --color-panel-trade-asset: rgba(40, 43, 47, 0.9);
  --color-form-search-head: #3d4054;
  --color-asset-account-overview: #3a354f;
  --color-bg-asset-order: rgba(40, 43, 47, 0.9);
}

/* Dark theme (default) */
.theme-dark {
  --color-bg: #181818;
  --color-bg-2: #181818;
  --color-bg-body: #181818;
  --color-white: #ffffff;
  --color-bg-nav: #3c3c3c;
  --color-half_white: #ececec;
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-bg-tbl: #343434;
  --color-bg-th: #1f1f1f;
  --color-bg-th-odd: #211d34;
  --color-bg-th-even: #1c192c;
  --color-bg-th-high-light: #282828;
  --color-black: #000000;
  --color-high-light-odd: #494949;
  --color-high-light-even: #373737;
  --color-cl-border: #42465b;
  --color-hover-td: #303146;
  --color-bg-card-chart: #232323;
  --color-bg-btn-nav: #1c192c;
  --color-bg-form-search: #2f3146;
  --color-bg-form-search-2: #2f3146;
  --color-red: #fd154d;
  --color-green: #20e8a2;
  --color-ref: #fbd82d;
  --color-ceil: #f00bcb;
  --color-floor: #2ecdff;
  --color-bg-red: #fd154d;
  --color-bg-green: #0f0;
  --color-bg-ref: #f0b90b;
  --color-bg-ceil: #f00bcb;
  --color-bg-floor: #2ecdff;
  --color-primary: #2279ff;
  --color-blue: #2279ff;
  --color-bg-form-theme: #1b1912;
  --color-cl-nav-link: #ececec;
  --color-bg-panel-trade: #14111d;
  --color-br-1: #232532;
  --color-panel-trade-asset: rgba(40, 43, 47, 0.9);
  --color-form-search-head: #3d4054;
  --color-asset-account-overview: #3a354f;
  --color-bg-asset-order: rgba(40, 43, 47, 0.9);
}
